{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>UWE Flix | Profile</title>
{% endblock %}

{% block style %}
<style>
    #wrapper {
        display: flex;
        margin-top: -62px;
    }

    .sidebar {
        width: 19rem !important;
        background: linear-gradient(0deg, #2196F3, #00106b);
        padding-top: 80px;
    }

    #content-wrapper {
        background-color: #e6e6e6;
        width: 100%;
        height: 100vh;
        padding-top: 60px;
        overflow-x: hidden;
    }

    .active {
        background: white;
        box-shadow: -1px 1px 13px 2px;
    }
    .nav-item:hover {
        background: #e0e0e0;
        box-shadow: -1px 1px 13px 2px;
    }
    .active-link , .nav-link:hover {
        color: #021045;
        display: block;
        padding: .5rem 0rem;
    }

    .nav-item {
        padding: 0px 20px;
        border-radius: 10px;
        margin: 5px 5px;
    }
    .nav-item a {
        font-size: 19px;
        font-weight: 500;
        text-decoration: none;
        color: #021045;
    }
    a.nav-link {
        color: white;
    }
    i {
        padding-right: 5px;
    }
    .round {
        padding: 20px;
        border-radius: 20px;
        min-height: 250px;
    }

    .poster {
        margin: 15px;

    }
</style>
{% endblock %}

{% block content %}


<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar ">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="fa fa-tachometer"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item active">
            <a class="active-link" href="{% url 'manager_register' %}">
                <i class="fa fa-sign-out"></i>
                <span>Register Cinema Manager</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_shows' %}">
                <i class="fa fa-ticket"></i>
                <span>Add Shows</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span></a>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-12 col-md-10 col-lg-7">
                    <form action="manager_register" method="POST" class="text-black cinema">
                        {% csrf_token %}
        
                        <h1>Register a Cinema Manager <i class="fa fa-ticket" aria-hidden="true"></i></h1>
        
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label class="form-label">Cinema Manager Username</label>
                                <input class="form-control" type="text" placeholder="user" name="user">
                            </div>
                        </div>
        
                      
                        <div class="form-row">
                            <div class="form-group col-md-6 col-12">
                                <label class="form-label">Cinema Manager First Name</label>
                                <input class="form-control" type="text" placeholder="firstname" name="first_name">
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label class="form-label">Cinema Manager Last Name</label>
                                <input class="form-control" type="text" placeholder="lastname" name="last_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label"><i class="fa fa-envelope-o" aria-hidden="true"></i> Cinema Manager E-mail</label>
                            <input class="form-control" type="email" placeholder="@" name="email">
                        </div>
        
                        <div class="form-group col-md-6 col-12">
                            <label class="form-label"> Password</label>
                            <input class="form-control" type="password" placeholder="pass" name="password1">
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label class="form-label">Repeat Password</label>
                            <input class="form-control" type="password" placeholder="pass" name="password2">
                        </div>
        
                        <div class="col-3 mt-4">
                            <input type="submit" class="btn btn-block btn-primary" value="Register">
                        </div>
                        
                    </div>
                  
                   
            
                    </form>

                    <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column">
        <div class="row m-3">
            <div class="col-12 card round mt-2">
                    <h3 class="">Cinema Manager Table</h3>
                    <hr>
                
                    <table class="table shadow text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" width="5%">User</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for list in s %}
                                    <tr>
                                        <th scope="row">{{list.user}}</th>
                                        <td>{{list.movie.movie_name}}</td>
                                        <td>{{list.time}}</td>
                                        <td>{{list.date}}</td>
                                        <td>{{list.price}}</td>
                                    </tr>
                                        {% endfor %}
                            </tbody>
                        </table>
                    
                </div>

        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Content Wrapper -->

     
    </div>

</div>



{% endblock %}


{% block JQuery %}
<script>
</script>
{% endblock %}