{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>UWEFLIX | Register</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href={% static "styles/login.css" %} />
{% endblock %}

{% block content %}


<style>
    body {
        background-image: url(/static/images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<center>
<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-12 col-md-10 col-lg-7">
            <form action="register_studentclub" method="POST" class="text-white cinema">
                {% csrf_token %}
                Your password is: {{password1}}
                <h1>Registration as Student Club <i class="fa fa-ticket" aria-hidden="true"></i></h1>
                
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="form-label">Username</label>
                        <input class="form-control" type="text" placeholder="username" name="username">
                    </div>
                </div>

              
                <div class="form-row">
                    <div class="form-group col-md-6 col-12">
                        <label class="form-label">Student Rep First Name</label>
                        <input class="form-control" type="text" placeholder="firstname" name="firstname">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label class="form-label">Student Rep Last Name</label>
                        <input class="form-control" type="text" placeholder="lastname" name="lastname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label"><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail</label>
                    <input class="form-control" type="email" placeholder="@" name="email">
                </div>

            
                
       
                       
             


                <div class="form-row">
               
                <div class="form-group col-md-6 col-12">
                    <label class="form-label">Student Representative Date Of Birth</label>
                    <input class="form-control" type="date" placeholder="DateOfBirth" name="dateofbirth">
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label class="form-label">Club Name</label>
                    <input class="form-control" type="text" placeholder="Club Name" name="club">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label class="form-label"><i class="fa fa-phone" aria-hidden="true"></i> Cinema Phone No</label>
                    <input class="form-control" type="number" placeholder="Contact No" name="phone">
                </div>
                <div class="form-group col-md-12 col-12">
                    <label class="form-label">City</label>
                    <input class="form-control" type="text" placeholder="Cinema City" name="city">
                </div>
            </div>
                <div class="form-group">
                    <label class="form-label">Club Address</label>
                    <input class="form-control" type="text" placeholder="Cinema Address" name="address">
                </div>

                <div class="form-group">
                    <label class="form-label">Club Postcode</label>
                    <input class="form-control" type="text" placeholder="Club Postcode" name="postcode">
                </div>

                <input class="btn btn-primary btn-block btn-lg" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
</center>

{% for message in messages %}
<h4> {{message}} </h4>
{% endfor %}

{% endblock %}